@using Radzen.Blazor
@page "/archiveform"
@rendermode InteractiveAuto

@inject HttpClient HttpClient

<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">

<h1>ArchiveForm</h1>

<RadzenForm>
	<RadzenFieldset>
		<RadzenLabel Text="Transaction ID"/>
		<RadzenDropDownDataGrid @bind-Value="SelectedItem" Data="TransactList" AllowClear="true" AllowFiltering="true" Placeholder="Select ID" Style="position: absolute;margin-bottom:20px;"/>
	</RadzenFieldset>

	<RadzenFieldset>
	</RadzenFieldset>

	<RadzenButton Text="Submit" ButtonType="ButtonType.Submit" Style="margin-top: 20px;" />
</RadzenForm>

<script src="_content/Radzen.Blazor/Radzen.Blazor.js">
</script>
@code {
	private List<string>? TransactList;
	private string? SelectedItem;

	protected override async Task OnInitializedAsync()
	{
		var response = await HttpClient.GetAsync("https://localhost:7041/api/PAR/byParID");
		if (response.IsSuccessStatusCode)
		{
			TransactList = await response.Content.ReadFromJsonAsync<List<string>>();
			//ItemList = JsonConvert.DeserializeObject<List<string>>(json);
		}
	}
}
