@using Blazored.Modal
@using Blazored.Modal.Services

<div class="sblazored-modal-container">
    <div class="sblazored-modal-header">
        <h3>@Title</h3>
    </div>
    <div class="sblazored-modal-content">
        <button @onclick="Close">Okay</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public string Title { get; set; } = "Invalid inputs detected. Please fill out all required fields";

    private async Task Close()
    {
        await ModalInstance.CloseAsync();
    }
}