@using Radzen.Blazor;
@using MatBlazor;
@using Blazored.Modal
@using Blazored.Modal.Services
@using System.Globalization;
@using Newtonsoft.Json.Linq;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Text;
@using System.Text.Json;
@page "/masterlist"
@rendermode InteractiveAuto

@inject HttpClient HttpClient
@inject IModalService ModalService

<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
<script src="_content/Blazored.Modal/blazored.modal.js"></script>

<h1>Master List</h1>

@if (IsLoading)
{
    <div class="spinner-border" role="status">
    </div>
}
else
{
    <RadzenDataGrid class="pardatagrid" @ref="grid" Data="@TransactList" TItem="PAR" AllowSorting="true" AllowPaging="true" PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="PAR" Property="ParID" Title="ParID" />
            <RadzenDataGridColumn TItem="PAR" Property="ItemCode" Title="ItemCode" />
            <RadzenDataGridColumn TItem="PAR" Property="ItemName" Title="ItemName" />
            <RadzenDataGridColumn TItem="PAR" Property="ParName" Title="ParName" />
            <RadzenDataGridColumn TItem="PAR" Property="DprName" Title="DprName" />
            <RadzenDataGridColumn TItem="PAR" Property="ParDate" Title="ParDate" />
            <RadzenDataGridColumn TItem="PAR" Property="refNo" Title="RefNo" />
            <RadzenDataGridColumn TItem="PAR" Property="ParQty" Title="ParQty" />
        </Columns>
    </RadzenDataGrid>
}

<div class="mt-4 border p-4">
    <h4>Print Forms</h4>
    <div class="row">
        <div class="col-md-6">
            <label for="Code">Code</label>
            <RadzenFieldset>
                <RadzenLabel Text="ParID" />
                <RadzenDropDownDataGrid @bind-Value="SelectedPar" Data="ParIDList" AllowClear="true" AllowFiltering="true" Placeholder="Select an ID" Style="position: absolute;margin-bottom:20px" />
            </RadzenFieldset>
        </div>
        <div class="col-md-6">
            <label for="formtype">Form Type</label>
            <select id="formtype" class="form-control form-conrol-sm">
                <option value="">Select Form Type</option>
                <option value="PAR">PAR</option>
                <option value="ICS">ICS</option>
                <option value="Surrender">Surrender</option>
                <option value="Transfer">Transfer</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary mt-2" @onclick="@(()=>ModalService.Show<FormDialog>("Modal"))">Confirm</button>
</div>

<CascadingBlazoredModal></CascadingBlazoredModal>
@code {
    private List<PAR>? TransactList;
    private List<string>? ParIDList;

    private string? SelectedPar;
    private bool IsLoading = true;
    private RadzenDataGrid<PAR> grid;

    private string? AdditionalDetails;
    //private MatDialog dialog;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        var response = await HttpClient.GetAsync("https://localhost:7041/api/PAR");
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            TransactList = JsonConvert.DeserializeObject<List<PAR>>(json);
        }
        else
        {
            TransactList = null;
        }
        var paridresponse = await HttpClient.GetAsync("https://localhost:7041/api/PAR/byParID");
        if (paridresponse.IsSuccessStatusCode)
        {
            var json = await paridresponse.Content.ReadAsStringAsync();
            ParIDList = await paridresponse.Content.ReadFromJsonAsync<List<string>>();
        }
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }
    // private async Task ShowModal()
    // {
    //     var parameters = new ModalParameters();
    //     parameters.Add("AdditionalDetails", AdditionalDetails);

    //     var modal = ModalService.Show<FormDialog>("Confirm Details", parameters);
    //     var result = await modal.Result;

    //     if (!result.Cancelled)
    //     {
    //         AdditionalDetails = result.Data.ToString();
    //     }
    // }
}
