@using Radzen.Blazor;
@rendermode InteractiveAuto

@inject HttpClient HttpClient

<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
<script src="_content/Blazored.Modal/blazored.modal.js"></script>

<h1>Additional Transfer Details</h1>
<RadzenDataGrid class="transfermodal" @ref="grid" Data="@TransferList" TItem="Transfer" AllowSorting="true" AllowPaging="true" AllowFiltering="true" PageSize="10">
    <Columns>
        <RadzenDataGridColumn TItem="Transfer" Property="PtrId" Title="PRT ID" />
        <RadzenDataGridColumn TItem="Transfer" Property="CstCode" Title="CST Code" />
        <RadzenDataGridColumn TItem="Transfer" Property="rvName" Title="Receive Name" />
        <RadzenDataGridColumn TItem="Transfer" Property="fundccl" Title="Fund CCL" />
        <RadzenDataGridColumn TItem="Transfer" Property="apprvdBy" Title="Approved By" />
        <RadzenDataGridColumn TItem="Transfer" Property="designationOf" Title="Designation Of" />
        <RadzenDataGridColumn TItem="Transfer" Property="approvedByDate" Title="Approved By Date" />
        <RadzenDataGridColumn TItem="Transfer" Property="releaseBy" Title="Released By" />
        <RadzenDataGridColumn TItem="Transfer" Property="designationRelease" Title="Designation Release" />
        <RadzenDataGridColumn TItem="Transfer" Property="releaseByDate" Title="Release By Date" />
        <RadzenDataGridColumn TItem="Transfer" Property="receivedBy" Title="Received By" />
        <RadzenDataGridColumn TItem="Transfer" Property="designationReceived" Title="Designation Received" />
        <RadzenDataGridColumn TItem="Transfer" Property="receivedByDate" Title="Received By Date" />
        <RadzenDataGridColumn TItem="Transfer" Property="dateAcquired" Title="Date Acquired" />
    </Columns>
</RadzenDataGrid>
<div class="button-row" style="margin-top: 20px;">
        <RadzenButton ButtonType="ButtonType.Button" Text="Close" Click="CloseModal" Variant="Variant.Text" />
    </div>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    private RadzenDataGrid<Transfer> grid;
    private List<Transfer>? TransferList;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync("https://localhost:7041/api/Transfer");
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            TransferList = JsonConvert.DeserializeObject<List<Transfer>>(json);
        }
        else
        {
            TransferList = null;
        }
    }
    private async Task CloseModal()
    {
        if (ModalInstance != null)
        {
            await ModalInstance.CloseAsync(ModalResult.Cancel());
        }
    }
}
