@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @if (!IsHomePage())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main class="@(IsHomePage() ? "full-width" : "")">
        @if (!IsHomePage())
        {
            <div>
                @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<CascadingBlazoredModal></CascadingBlazoredModal>

@code {
    private bool IsHomePage()
    {
        var uri = NavigationManager.Uri;
        return uri.EndsWith("/", StringComparison.OrdinalIgnoreCase) ||
               uri.EndsWith("/index", StringComparison.OrdinalIgnoreCase);
    }
}
